.container
  .row
    %h4 Domohorn Wrinkle

.row
  #container.container
    - @messages.each do |message|
      .card
        -#- img_url = (%r{((ttp|ttps)://.+.(png|jpeg|jpg|gif))} =~ message.content) ? "h#{$1}" : nil
        -#- if img_url
        -#  .card-image
        -#    %img{ src: img_url }
        .card-content
          = message.content
